USE [ForumExamples]
GO
/****** Object:  Table [dbo].[Timezones]    Script Date: 7/24/2018 4:19:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timezones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Timezone] [nchar](6) NULL,
	[Place] [nvarchar](max) NULL,
 CONSTRAINT [PK_Timezones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkingWithDates]    Script Date: 7/24/2018 4:19:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkingWithDates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SomeDateWithOffSet] [datetimeoffset](7) NULL CONSTRAINT [DF_WorkingWithDates_SomeDate]  DEFAULT (getdate()),
	[SomeDate] [datetime2](7) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_WorkingWithDates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Timezones] ON 

INSERT [dbo].[Timezones] ([id], [Timezone], [Place]) VALUES (1, N'-12:00', N'Eniwetok')
INSERT [dbo].[Timezones] ([id], [Timezone], [Place]) VALUES (2, N'-12:00', N'Kwajalein')
INSERT [dbo].[Timezones] ([id], [Timezone], [Place]) VALUES (3, N'-11:00', N'Midway Island')
GO
SET IDENTITY_INSERT [dbo].[Timezones] OFF
SET IDENTITY_INSERT [dbo].[WorkingWithDates] ON 

INSERT [dbo].[WorkingWithDates] ([id], [SomeDateWithOffSet], [SomeDate], [FirstName], [LastName]) VALUES (1, CAST(N'2012-08-23T18:37:50.9729477-03:30' AS DateTimeOffset), CAST(N'2012-08-23 22:07:50.9729477' AS DateTime2), N'Rachael', N'Mc Daniel')
INSERT [dbo].[WorkingWithDates] ([id], [SomeDateWithOffSet], [SomeDate], [FirstName], [LastName]) VALUES (2, CAST(N'2018-04-22T21:50:39.2832497+12:00' AS DateTimeOffset), CAST(N'2018-04-22 09:50:39.2832497' AS DateTime2), N'Lawrence', N'Pittman')
INSERT [dbo].[WorkingWithDates] ([id], [SomeDateWithOffSet], [SomeDate], [FirstName], [LastName]) VALUES (3, CAST(N'2016-01-26T15:44:10.6488960+08:00' AS DateTimeOffset), CAST(N'2016-01-26 07:44:10.6488960' AS DateTime2), N'Lance', N'Jordan')
SET IDENTITY_INSERT [dbo].[WorkingWithDates] OFF
